
body {
    background-color: #f9fafc;
}


nav.top-nav {
    height: 110px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}


.top-nav h1 {
    color:  #ee6e73
}


.card-title {
    color: rgba(0,0,0,0.87);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    word-wrap: break-word;
}

.card .card-content {
    border-radius: 8px;
    background-color: white;

}

.card:hover {
    background-color: #F5F5F5;
}

.card .card-content:hover {
    background-color: #F5F5F5;
}

.card-title {
    font-weight: bolder;
}

.add-project {
    align-self: center;
}

table {
    background-color: white;
    margin: .5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    padding: 5px 5px 5px 5px;
}

.card {
    min-height: 204px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.preloader-wrapper.active {
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -22px;
    margin-left: -22px;
}

.card-container {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#collection-header, #row {
    min-height: 473px;
    position: relative;
    background-color: white;
}


.platform-container {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.header-container {
    margin-left: 20px;
}

.header-container-base {
    justify-content: space-between;
    display: flex;
    align-items: center;
}


#localization_form {
    margin-top: 10px;
}

.modal.modal-fixed-footer {
    height: 50%;
    padding: 0;
}

.modal {
    width: 35%;
}
.export_button {
    margin-right: 15px;
}

.float_button {
    display: flex;
    margin-right: 15px;
    justify-content: flex-end;
}